.containerfc {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.containerft {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.containernv {
    margin-top: 2rem;
    margin-bottom: 2rem;

}